body {
  background-color: #171A1B;
  font-family: 'Montserrat', sans-serif;
}

.navbar-title {
  font-size: medium;
  margin-left: 10px;
  color: #54CEFF;
}

.intro {
  background-color: rgba(84, 206, 255, .05);
  height: 22rem;
  margin-top: 100px;
  border-radius: 25px;
}

.about-section {
  background-color: rgba(84, 206, 255, .05);
  height: 22rem;
  margin-top: 0px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.intro-pic {

  width: 15rem;
  position: relative;
}

.about {
  margin-top: 300px;
}

.name {
  color: white;
  position: relative;
  top: 80px;
  left: 40px;
  font-weight: bold;
}

h4 {
  color: white;
  position: relative;
  top: 60px;
  left: 40px;
}

.info {
  color: white;
  font-weight: lighter;
  position: relative;
  left: 40px;
  top: 90px
}

.message {
  color: white;
  position: relative;
  display: block;
  left: 40px;
  top: 120px
}

.icon {
  position: relative;
  left: 30px;
  top: 150px;
  opacity: .8;
  margin-left: 10px;
}

.icon:hover {
  opacity: .6;
}

.img {
  width: 27rem;
  height: 20rem;
  opacity: .7;
  position: relative;
  top: 120px;
  right: 1px;
}

.copyright {
  text-align: center;
  color: white;
  position: relative;
  top: 160px;
}
